---
import { twMerge } from "tailwind-merge";
import Pill from "./Pill.astro";
import { colorClassesByTechnology } from "../utils/constants";

type Props = {
  position: string;
  company: string;
  date: string;
  companyColorClasses: string;
  dotColorClasses: string;
  companyHref?: string;
  technologies?: string[];
};

const {
  position,
  company,
  date,
  companyColorClasses,
  dotColorClasses,
  companyHref,
  technologies,
} = Astro.props;
---

<li class="mb-10 ms-4">
  <article>
    <div
      class={twMerge(
        "absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white",
        dotColorClasses
      )}
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-400"
    >
      {date}
    </time>
    <header class="flex">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        {position} |&nbsp; {
          companyHref ? (
            <a
              class={twMerge(
                "text-lg font-semibold underline underline-offset-2",
                companyColorClasses
              )}
              title={`Navigate to ${company}'s website`}
              href={companyHref}
              target="_blank"
              rel="noopener noreferrer"
            >
              {company}
            </a>
          ) : (
            <h3 class={twMerge("text-lg font-semibold", companyColorClasses)}>
              {company}
            </h3>
          )
        }
      </h3>
    </header>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      <slot />
    </p>
    <footer>
      {
        technologies ? (
          <ul class="flex flex-wrap gap-2">
            {technologies.map((technology) => (
              <li>
                <Pill
                  label={technology}
                  colorClasses={
                    colorClassesByTechnology[technology] ||
                    colorClassesByTechnology["default"]
                  }
                />
              </li>
            ))}
          </ul>
        ) : null
      }
    </footer>
  </article>
</li>
