---
import { twMerge } from "tailwind-merge";
import Pill from "@components/Pill.astro";
import { TECHNOLOGIES_STYLES } from "@utils/constants";

type Props = {
  title: string;
  company: string;
  timePeriod: string;
  companyColorClasses: string;
  dotColorClasses: string;
  companyHref?: string;
  technologies?: string[];
  liClass?: string;
};

const {
  title,
  company,
  timePeriod,
  companyColorClasses,
  dotColorClasses,
  companyHref,
  technologies,
  liClass,
} = Astro.props;
---

<li class={twMerge("pl-4", liClass)}>
  <article>
    <div
      class={twMerge(
        "absolute -start-1.5 pt-1.5 h-3 w-3 rounded-full border border-white",
        dotColorClasses
      )}
    >
    </div>
    <time
      class="pb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-400"
    >
      {timePeriod}
    </time>
    <header class="flex">
      <h3 class="text-gray-900 dark:text-white">
        {title}
        <span>{" "}|{" "}</span>
        {
          companyHref ? (
            <a
              class={twMerge(
                "underline decoration-transparent underline-offset-2 transition-all duration-300 ease-in-out hover:decoration-current",
                companyColorClasses
              )}
              title={`Navigate to ${company}'s website`}
              href={companyHref}
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="sr-only">Link to {company}'s website</span>
              {company}
            </a>
          ) : (
            company
          )
        }
      </h3>
    </header>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      <slot />
    </p>
    <footer>
      {
        technologies ? (
          <ul class="flex flex-wrap gap-2 pt-4">
            {technologies.map((technology) => (
              <li>
                <Pill
                  label={technology}
                  colorClasses={
                    TECHNOLOGIES_STYLES[technology] ||
                    TECHNOLOGIES_STYLES["default"]
                  }
                />
              </li>
            ))}
          </ul>
        ) : null
      }
    </footer>
  </article>
</li>
